services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ../2. Init Database:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

    logging:
      #limit logs to 200MB (4 rotations of 50M each)
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

  api:
    build: ./orders-api
    ports:
      - "8080:8080"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: broker:9094

      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

      KAFKA_URL: ${KAFKA_URL}

    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      - app-network

    depends_on:
      postgres:
        condition: service_started
      broker:
        condition: service_healthy

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

    networks:
      - app-network

    depends_on: [ postgres ]

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"

    networks:
      - app-network

    depends_on: [ redis ]

    volumes:
      - redis-insight:/data

  broker:
    image: apache/kafka:latest
    container_name: broker
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENERS: 'EXTERNAL://0.0.0.0:9092,INTERNAL://0.0.0.0:9094,CONTROLLER://:9093'
      KAFKA_ADVERTISED_LISTENERS: 'EXTERNAL://localhost:9092,INTERNAL://broker:9094'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:9093'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'EXTERNAL:PLAINTEXT,INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_CLUSTER_ID: 'r4zt_wrqTRuT7W2NJsB_GA'

    volumes:
      - ./.volumes/kafka/data:/var/lib/kafka/data

    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list" ]
      interval: 20s
      timeout: 15s
      retries: 5
      start_period: 30s

    networks:
      - app-network

  kafka-ui:
    image: ghcr.io/kafbat/kafka-ui
    container_name: kafka-ui
    restart: always
    ports:
      - "8092:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local-kafka-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=broker:9092
      - DYNAMIC_CONFIG_ENABLED=true

    networks:
      - app-network

    depends_on:
      broker:
        condition: service_healthy

networks:
  app-network:

volumes:
  postgres-data:
  redis-insight:

